- content_for :nav do
  %li= link_to(ic('accept', "Close"), "#", :onclick => 'window.close();')
  %li= link_to(ic('pencil_add', "Add a story"), new_story_path, :target => '_blank')
  %li= link_to(ic('add', "Import"), import_stories_path)
  %li= link_to(ic('package_go', "Export"), export_stories_path(params.except(:controller, :action).merge(:mode => 'multiple')), :id => 'stories_export', :target => '_blank')
  %li= link_to(ic("information", "Report"), info_stories_path)
  %li= link_to(ic('door_in', 'Quit'), quit_stories_path, :confirm => "Are you sure you want to quit the Story Reader?", :id => "off")
