%li{ :id => dom_id(story), :class => "page_#{@stories.current_page}" }
  .emblems
    - many_opens = story.opens >= 10
    - if many_opens
      = image_tag("icons/award_star_bronze_1.png", :title => "Has been read 10 or more times.")

  = link_to(story, :target => '_blank') do
    = image_tag('icons/page_white_text.png', :class => 'icon', :title => 'Story title')
    %span.story_title= story_title(story)
    = image_tag('icons/comments.png', :class => 'icon', :title => 'Most frequent words in story')
    %span.mfw= wbrize(story.most_frequent_words)
    = image_tag('icons/page_white_stack.png', :class => 'icon', :title => 'Word count of story')
    %span.word_count= number_with_delimiter(story.word_count)
    - unless story.tag_list.empty?
      = image_tag('icons/tag_blue.png', :class => 'icon', :title => 'Story tags')
      %span.tag_list= story.tag_list

  .actions
    = link_to(image_tag("icons/zoom.png", :title => "More information about this story"), more_info_story_path(story), :class => 'colorbox more-info action')
    = link_to(image_tag("icons/pencil.png", :title => 'Edit this story'), edit_story_path(story), :class => 'colorbox edit action')
    = link_to(image_tag("icons/delete.png", :title => 'Delete this story'), story_path(story), :method => 'delete', :confirm => "Are you sure you want to delete #{story.title}?", :remote => true, :class => 'action')
  .info
    .stat
      = image_tag("icons/application_go.png", :title => "Opens")
      = story.opens
    .stat
      = image_tag("icons/page_white_text.png", :title => "Size in words")
      = number_with_delimiter(story.word_count)
      words
    .stat
      = image_tag("icons/drive.png", :title => "Size in bytes")
      = number_to_human_size(story.byte_size)

    .clear
    = form_for story, :remote => true do |f|
      = f.text_field :tag_list, :class => 'input'