%li{ :id => dom_id(story), :class => "page_#{@stories.current_page}" }
  = link_to(story, :target => '_blank') do
    %div.wrapper
      = image_tag('icons/page_white_text.png', :title => 'Story title')
      %span= story_title(story)
      = image_tag('icons/comments.png', :title => 'Most frequent words in story')
      %span= wbrize(story.most_frequent_words)
      - unless story.tag_list.empty?
        = image_tag('icons/tag_blue.png', :title => 'Story tags')
        %span= story.tag_list

      = image_tag("icons/application_go.png", :title => "Opens")
      %span= story.opens

      .emblems
        = image_tag('icons/page_white_stack.png', :title => 'Word count of story')
        %span= number_to_stars(story.word_count)
        - many_opens = story.opens >= 10
        - many_words = story.word_count > 30000
        - if many_opens
          = image_tag("icons/award_star_bronze_1.png", :title => "Has been read 10 or more times.")
