<% content_for :head do %>
  <%= javascript_include_tag 'index', 'endless_scroll' %>
<% end %>

<% content_for :nav do %>
  <ul id="nav">
    <li><%= link_to(ic('pencil_add', "Add a story"), new_story_path) %></li>
    <li><%= link_to(ic('add', "Import"), import_stories_path, :method => 'get') %></li>
    <li><%= link_to(ic('package_go', "Export"), export_stories_path(params.except(:controller, :action).merge(:mode => 'multiple')), :id => 'stories_export') %></li>
    <li><%= link_to(ic("information", "Info"), info_stories_path, :id => 'stories_info') %></li>
  </ul>
<% end %>

<div id="tag_cloud" style="display: none;">
  <% tag_cloud(@tags, %w(size_1 size_2 size_3 size_4)) do |tag, css_class| %>
  <%= link_to tag.name, stories_path(params.except(:controller, :action).merge(:search => tag.name)), :class => css_class, :title => pluralize(tag.count, "Occurence") %>
  <% end %>
</div>

<div id="header">
  <%= form_tag(stories_path, { :method => :get, :id => 'search_form' }) do %>
    <%= text_field_tag 'search', params[:search] %>
    <%= select_tag 'sort', options_for_select([['Published', 'published_on'], ['Alphabetically', 'sort_key'], ['Last opened at', 'last_opened_at'], ['Date added', 'created_at'], ['Popularity', 'opens'], ['Word count', 'word_count']], params[:sort]) %>
    <%= select_tag 'sort_direction', options_for_select([['Descending', 'DESC'], ['Ascending', 'ASC']], params[:sort_direction]) %>
    <%= link_to("Clear search", stories_path) %>
  <% end %>
  <!--
  <div id="actions" class="desktop-only">
    <%= link_to("Tag cloud", {}, :id => 'tag_cloud_link') %>
  </div>
  -->
</div>

<div class="clear"></div>
<ul id="stories">
  <%= render :partial => 'story', :collection => @stories %>
  <% if @stories.empty? %>
    <script type="text/javascript">
      last_page = true;
    </script>
    No results found.
  <% elsif is_last_page?(@stories) %>
    <script type="text/javascript">
      last_page = true;
    </script>
    <%= render :partial => 'end_of_results' %>
  <% end %>
</ul>
<div class="clear"></div>