<% content_for :head do %>
  <%= javascript_include_tag "story-index" %>  
<% end %>

<%= render :partial => 'nav' %>

<div id="header">
  <%= form_tag(stories_path, { :method => :get, :id => 'search_form' }) do %>
    <%= text_field_tag 'search', params[:search] %>
    <%= select_tag 'sort', options_for_select([['Published', 'published_on'], ['Alphabetically', 'sort_key'], ['Last opened at', 'last_opened_at'], ['Date added', 'created_at'], ['Popularity', 'opens'], ['Word count', 'word_count']], params[:sort]) %>
    <%= select_tag 'sort_direction', options_for_select([['Descending', 'DESC'], ['Ascending', 'ASC']], params[:sort_direction]) %>
    <%= link_to("Reset", stories_path) %>
  <% end %>
</div>

<div class="clear"></div>
<ul id="stories">
  <%= render :partial => 'story', :collection => @stories %>
  <% if @stories.empty? %>
    <li><div class="results">No results found.</div></li>
  <% elsif @stories_count > 100 %>
    <li><div class="results">There are more stories, restrict your search to see them.</div></li>
  <% end %>
</ul>
<div class="clear"></div>
