<p>You have <%= pluralize(Story.count, 'story') %>, <%= pluralize(Video.count, 'video') %> and <%= pluralize(ActsAsTaggableOn::Tag.count, 'tag') %>.</p>

<% unless Story.count.zero? %>
  <p>The oldest story was published on <%= link_to(@oldest_story.published_on, @oldest_story, :method => :get, :remote => true) %>
  and the newest story was published <%= link_to(@newest_story.published_on, @newest_story, :method => :get, :remote => true) %>.</p>
  
  <p>The most popular story in your collection has been opened
  <%= link_to(pluralize(@most_popular_story.opens, 'time'), @most_popular_story, :method => :get, :remote => true) %>,
  and the least popular opened <%= link_to(pluralize(@least_popular_story.opens, 'time'), @least_popular_story, :method => :get, :remote => true) %>,
  with an average of <%= pluralize(number_with_precision(Story.average('opens'), :precision => 1), 'open') %> per story.</p>
  
  <p><%= link_to(pluralize(Story.count(:conditions => 'opens > 0'), 'story has', 'stories have'), items_with(:search => 's:read'), :target => "_blank") %>
    been opened at least once, and <%= link_to(pluralize(Story.count(:conditions => 'opens = 0'), 'story has', 'stories have'), items_with(:search => 's:unread'), :target => '_blank') %>
  never been opened at all.</p>
<% end %>

<!-- add most and least popular tags -->