<% content_for :head do %>
  <%= include_javascripts :graphs %>
<% end %>
<%= render :partial => 'nav' %>

<h1>Report on Your Collection of Stories</h1>

<p>You have <%= pluralize(number_with_delimiter(Story.count), 'story') %> and <%= pluralize(number_with_delimiter(ActsAsTaggableOn::Tag.count), 'tag') %>.</p>

<% unless Story.count.zero? %>
  <p>The oldest story was published on <%= link_to(@oldest_story.published_on, @oldest_story, :target => '_blank') %>
  and the newest story was published on <%= link_to(@newest_story.published_on, @newest_story, :target => '_blank') %>.</p>

  <div class="stats-wrapper">
    <div id="story_lengths" class="chart"></div>
    <%
    values = ActiveRecord::Base.connection.select_values("SELECT word_count FROM stories").map { |n| n.to_i.round_nearest(1000) }
    hash = Hash.new(0)
    values.each { |value| hash[value] += 1 }
    keys = hash.keys.sort.map { |v| "#{number_with_delimiter(v)} - #{number_with_delimiter(v + 999)}" }
    values = hash.keys.sort.map { |k| hash[k] }
    %>
    <%= fd_piechart("story_lengths", "Story length (word count)", keys, values) %>
    <div class="stats">
      <p>The longest story has <%= link_to(pluralize(number_with_delimiter(@longest_story.word_count), 'words'), @longest_story, :target => '_blank') %> and the
      shortest has <%= link_to(pluralize(number_with_delimiter(@shortest_story.word_count), 'words'), @shortest_story, :target => '_blank') %>, with an average
      of <%= pluralize(number_with_delimiter(Story.average('word_count'), :precision => 1), 'words') %>.</p>
    </div>
    <div class="clear"></div>
  </div>

  <p>The most popular story in your collection has been opened
  <%= link_to(pluralize(number_with_delimiter(@most_popular_story.opens), 'time'), @most_popular_story, :target => '_blank') %>,
  and the least popular opened <%= link_to(pluralize(number_with_delimiter(@least_popular_story.opens), 'time'), @least_popular_story, :target => '_blank') %>,
  with an average of <%= pluralize(number_with_precision(Story.average('opens'), :precision => 1), 'open') %> per story.</p>
  
  <p><%= link_to(pluralize(number_with_delimiter(Story.count(:conditions => 'opens > 0')), 'story has', 'stories have'), stories_with(:search => 's:read'), :target => "_blank") %>
    been opened at least once, and <%= link_to(pluralize(number_with_delimiter(Story.count(:conditions => 'opens = 0')), 'story has', 'stories have'), stories_with(:search => 's:unread'), :target => '_blank') %>
    never been opened at all.</p>

  <p>Your collection uses <%= number_to_human_size(@disk_usage) %> of disk space.</p>
<% end %>

<!-- add most and least popular tags -->
