- content_for :head do
  :javascript
    story_url = "#{escape_javascript story_path(@story)}";
    $(function() {
      if(#{@story.offset} > 0) $(window).scrollTop(#{@story.offset});
    });
  = javascript_include_tag 'story'

#previous-page
#next-page

%ul#nav
  %li= link_to(ic('accept', "Close"), "#", :onclick => 'window.close();')
  %li= link_to(ic('pencil', "Edit"), edit_story_path(@story))
  %li= link_to(ic('package_go', "Export"), export_story_path(params.except(:controller, :action).merge(:mode => 'single')), :id => 'story_export')
  %li= link_to(ic('delete', "Delete"), story_path(@story), :method => :delete, :confirm => 'Are you sure?')
.clear

= raw Nsf::Document.from_nsf(@story.content).to_html