- content_for :head do
  = javascript_include_tag 'story'

#previous-page
#next-page

%ul#nav
  %li= link_to(ic('accept', "Close"), "#", :onclick => 'window.close();')
  %li= link_to(ic('pencil', "Edit"), edit_story_path(@story))
  %li= link_to(ic('delete', "Delete"), story_path(@story), :method => :delete, :confirm => 'Are you sure?')
.clear

= raw Nsf::Document.from_nsf(@story.content).to_html