<!DOCTYPE html>
<html xmlns="" id="<%= "#{controller.controller_name}-#{controller.action_name}" %>">
  <head>
    <title><%= @title ? "#{@title}: " : "" %>Story Reader</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag %w(style colorbox formtastic formtastic_changes) %>
    <%= javascript_include_tag 'lib/jquery-1.4.4', 'lib/rails', 'lib/jrails', 'lib/jquery.ba-bbq', 'lib/jquery.colorbox', 'lib/raphael.js', 'lib/g.raphael.js', 'lib/g.pie.js', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
