<!DOCTYPE html>
<html xmlns="" id="<%= @page_id || "#{controller.controller_name}-#{controller.action_name}" %>" class="main">
  <head>
    <%= render :partial => 'layouts/header' %>
  </head>
  <body>    
    <div id="wrapper">
      <div id="content-wrapper">
        <div id="content-window">
          <div id="content">
            
          <% if flash[:success] %>
            <div id="success">
              <a href="/stories"><img src="/images/icons/accept.png"></a>
              <%= flash[:success] %>
            </div>
          <% end %>

            <% if content_for? :nav %>
              <div id="nav-wrapper">
                <span class="menu-item"><a href="#" id="nav-show">Actions</a></span>
                <ul id="nav">
                  <%= yield :nav %>
                </ul>
              </div>
            <% end %>

            <%= yield %>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
