!!! 5
%html.main{ :xmlns => "", :id => "#{@page_id || "#{controller.controller_name}-#{controller.action_name}"}" }
  %head
    = render :partial => 'layouts/header'
    - if @page_style == "manipulate"
      = include_stylesheets :manipulate, :media => "all"
    - else
      = include_javascripts :application
  %body
    #wrapper
      - if flash[:success]
        #success
          %a{:href => "/stories"}
            %img{:src => "/images/icons/accept.png"}
            = flash[:success]

      - if content_for? :nav
        #nav-wrapper
          %span.menu-item
            %a#nav-show{:href => "#"} Actions
          %ul#nav= yield :nav

      = yield
      .clear
